body{
    background-color: url("background.png");
}

.alpha{
    background-color:
rgba(255, 255, 255, .3);
}


.title{
    
    font-family:Chiller ;
    font-size: 35px;
    color: black;
}


a{
  
    padding: 10px;
    font-family:Chiller ;
    font-size: 30px;
    color: black;

}

.joints{
    padding-top: 20px;
}

.mail{
    display: block;

    padding:25%;
    
    margin: auto;
}

h1{
    text-align: justify;
font-family: chiller;
font-size: 60px;
}

.color10{
    background-color:rgba(255,255,255,.5);

}


.contact{
    padding-top: 20px;
    padding-bottom: 30px;
}
    

.mail2{
    display: block;
    margin: auto;
    padding:20%;
   
}